<div class="container" style="margin-top: 5em">
    <%= form_with url: spaces_path, method: :get do %>
      <%= select_tag("select-item-type-id", options_from_collection_for_select(ItemType.order(:name), "id", "name"), include_blank: "All") %>
    <% end %>
  <div class="d-flex justify-content-center">

    <div class="cards card-index">
      <% @spaces.each do |space| %>
        <%= link_to space_path(space), class: "card-links" do %>
          <%= render partial: "shared/space_index_card", locals: {space: space} %>
        <% end %>
      <% end %>
    </div>
    <div id="map" class="map-index"
      data-markers="<%= @markers.to_json %>"
      data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
      >
    </div>
  </div>
</div>
