<div class="container" id="new-container">
  <h3>New space</h3>

  <%= simple_form_for @space do |f| %>
    <%= f.input :name %>
    <%= f.input :address %>
    <%= f.input :description %>
    <%= f.input :availability %>
    <%= f.input :phone_number %>
    <%= f.input :photo, as: :file, label: "Add a photo" %>
    <%= f.button :submit, class: "btn btn-outline-success" %>
  <% end %>
</div>
