<div class="container" style="margin-top: 5em">
  <%= render "shared/space_banner" %>
  <div class="info-container w-50">
    <%= render "shared/space_info" %>
    <%= render "shared/space_services"  %>
    <%= render "shared/space_availability" %>
  </div>
  <%#= render "shared/space_reviews"  %>
  <%= render "shared/space_booking" %>
  <%= render "shared/space_map"  %>
  
</div>
