<div class="container " style="margin-top: 7em">
  <div class="d-flex">
    <%= render "shared/space_banner" %>
      
  </div>

  <div class="info-and-form d-flex">
    <div class="d-flex w-100">
      <div class="space-info-container">
        <%= render "shared/space_info" %>
        <%= render "shared/space_services"  %>
        <%= render "shared/space_availability" %>
        <%= render "shared/space_reviews"  %>
      </div>
        <div class="booking-form mb-5">
          <%= render "shared/space_booking" %>
        </div>
    </div>
  </div>

  <div class="space-show-map">
    <%= render "shared/space_map"  %>
  </div>

</div>
