<div class="container">
  <%= render "shared/space-banner" %>
  <div class="info-container w-50">
    <%= render "shared/space-info" %>
    <%= render "shared/space-services"  %>
    <%= render "shared/space-availability" %>
  </div>
  <%#= render "shared/space-reviews"  %>
  <%#= render "shared/space-map"  %>
  <h3>Book</h3>
  <%= simple_form_for([@space, @booking]) do |f| %>
    <%= f.association :item_type %>
    <%= f.input :item_description %>
    <%= f.input :comment %>

    <%= f.input :date, as: :string, input_html: {class: "datepicker"} %>
    <%= f.submit class: "btn btn-success" %>
  <% end %>
</div>
