<div class="container" style="padding-top: 7em; background-color: #fff">
  <div class="booking-container">
    <div class="info-container">
      <div class="booking-text text-center">
        <h4>You're visiting</h4>
        <h3><%= link_to @booking.space.name, space_path(@booking.space) %></h1>
        <i class="fa fa-calendar"></i>
          <%= @booking.date.strftime("%a %d %b") %>
          <i class="fa fa-clock-o "></i>
          <%= @booking.date.strftime("%H:%M") %>
          <i class="fa fa-wrench"></i> 
            <%= @booking.item_description %>
      </div>
      <div>
        <% if @booking.photo.attached? %>
          <%= cl_image_tag @booking.photo.key %>
        <% else %>
          <%= image_tag "https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fcdn.pocket-lint.com%2Fr%2Fs%2F970x%2Fassets%2Fimages%2F153836-headphones-news-bose-launches-its-gaming-headset-quietcomfort-35-ii-gaming-image1-7ayeqdlt8t.jpg&f=1&nofb=1" %>
        <% end %>
      </div>
    </div>

    <hr>

    <div id="chatbox" class="booking-chat-box">
      <%= render "shared/chatbox", booking: @booking %>
    </div>

    <div class="booking-map-container" style="border-radius: 10px">
      <%= render "shared/space_map" %>
    </div>
  </div>

</div>
