<div class="card-product">
  <img src="https://res.cloudinary.com/chrisrg/image/upload/c_scale,w_702/v1614695131/refective/repair-shop1.jpg" />
  <div class="card-product-infos">
    <div class="card-product-title">
      <h2><%= booking.space.name %></h2>
    </div>
    <div>
      <p><i class="fa fa-calendar"></i>
        <%= booking.date.strftime("%a %d %b") %>
        <i class="fa fa-clock-o "></i>
        <%= booking.date.strftime("%I:%M%p") %>
      </p>
      <p><i class="fa fa-wrench"></i> 
        <%= booking.item_description %>
      </p>
      <p><i class="fa fa-info-circle"></i> 
        <%= booking.comment %>
      </p>
    </div>

    <div class="card-icons">
      <%= link_to booking_path(booking) do %>
            <i class="fa fa-pencil"></i>
      <% end %>
      <%= link_to booking_path(booking),
            method: :delete,
            data: { confirm: "Are you sure you want to delete this booking?" } do %>
            <i class="fa fa-trash"></i>
       <% end %>
    </div>
  </div>
</div>

