<div class="card-product">
  <img src="https://res.cloudinary.com/chrisrg/image/upload/c_scale,w_702/v1614695131/refective/repair-shop1.jpg" />
  <div class="card-product-infos">
    <div class="card-product-title">
      <h2><%= booking.space.name %></h2>
    </div>
    <div>
      <p><%= booking.item_description %></p>
      <p><%= booking.date %></p>
    </div>
    <div class="card-icons">
      <%= link_to booking_path(booking) do %>
            <i class="fa fa-pencil fa-2x"></i>
      <% end %>
      <%= link_to booking_path(booking),
            method: :delete,
            data: { confirm: "Are you sure you want to delete this booking?" } do %>
            <i class="fa fa-trash fa-2x"></i>
       <% end %>
    </div>
  </div>
</div>

