<div class="chat-box">
  <div id="messages" class="message-box" data-chatroom-id="<%= @booking.id %>">
    <% unless @booking.messages.length > 0 %>
      <h5>Start chatting with <%= @booking.space.name %> now!</h5>
    <% end %>
    <% @booking.messages.each do |message| %>
      <%= render 'messages/message', message: message %>
    <% end %>
  </div>

  <div id="input-container" class="input-box">
    <%= simple_form_for [ @booking, @message ], remote: true do |f| %>
      <%= f.input :content, label: false, placeholder: "Message #{@booking.space.name}" %>
      <%= f.submit %>
    <% end %>
  </div>
</div>
