<div class="card-product-dashboard">
  <% if space.photo.attached? %>
    <%= cl_image_tag space.photo.key %>
  <% else %>
    <img src="https://res.cloudinary.com/chrisrg/image/upload/c_scale,w_702/v1614695131/refective/repair-shop1.jpg" />
  <% end %>

  <div class="card-product-infos-dashboard">
    <div class="card-product-title-dashboard">
      <h2><%= space.name %></h2>
    </div>
    <div>
      <p>
        <% unless space.reviews.count < 1 %>
          <% sum = 0 %>
          <% space.reviews.each do |review| %>
            <% sum += review.rating %>
          <% end %>
          <% sum = sum / space.reviews.count %>
          <% sum.times do %>
            <i class="fa fa-wrench"></i>
          <% end %>

          <% opaque = 5 - sum %>
          <% opaque.times do %>
            <i class="fa fa-wrench" aria-hidden="true" style="opacity: 0.2"></i>
          <% end %>
          (<%= space.reviews.length %> <%=  "review".pluralize(space.reviews.count) %>)
        <% else %>
            No reviews yet!
        <% end %>
      </p>
    </div>
    <p>Total bookings: <%= space.bookings.size %></p>
      <div class="card-icons-dashboard">

        <% if policy(space).update? %>
          <%= link_to space_path(space), data: { toggle: "modal", target: "#modal-space-#{space.id}"} do %>
                <i class="fa fa-pencil"></i>
          <% end %>
        <% end %>

        <% if policy(space).destroy? %>
          <%= link_to space_path(space), 
            method: :delete, 
            data: { confirm: "Are you sure you want to delete your space?" } do %> 
            <i class="fa fa-trash"></i>
          <% end %>
        <% end %>

      </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="modal-space-<%= space.id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">
          Edit your space
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= simple_form_for space do |f| %>
          <%= f.input :name, placeholder: space.name %>
          <%= f.input :address, placeholder: space.address %>
          <%= f.input :description, placeholder: space.description %>
          <%= f.input :availability, placeholder: space.availability %>
          <%= f.input :phone_number, placeholder: space.phone_number %>
          <%= f.submit "Save changes", class: "btn btn-success" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
