<div class="card-product card-index">
  <div>
    <% if space.photo.attached? %>
      <%= cl_image_tag space.photo.key %>
    <% else %>
      <img src="https://res.cloudinary.com/chrisrg/image/upload/c_scale,w_702/v1614695131/refective/repair-shop1.jpg" />
    <% end %>
  </div>
  <div class="card-product-infos">
    <div class="card-product-title">
      <h2><%= space.name %></h2>
    </div>
    <div>
      <p><%= space.description %></p>
      <p><i class="fa fa-wrench" aria-hidden="true"></i>
      <%= space.space_item_types.first.item_type.name %></p>
    </div>
    <div>
      <p><i class="fa fa-star-o"></i><%= rand(3..5).round %></p>
    </div>
  </div>
</div>

