    <%= simple_form_for @space do |f| %>
      <%= f.input :name, label: "Space name" %>
      <%= f.association :item_types,
                  as: :check_boxes,
                  input_html: { class: "tag-selector" },
                  item_wrapper_class: 'tag-item' %>
      <%= f.input :address %>
      <%= f.input :description %>
      <%= f.input :availability, label: "Opening times" %>
      <%= f.input :phone_number %>
      <label class="btn btn-outline-success mb-3" id="photo-submit">
        Add a photo!
        <span style="display:none;">
          <%= f.input :photo, as: :file %>
        </span>
      </label>
      <%= f.button :submit, class: "btn btn-outline-success mb-3" %>
    <% end %>
