
<div class="card-product card-index space-partial currently-displayed" data-item-type-ids="<%= space.item_types.pluck(:id).to_json %>" data-coordinates="<%= {"lat": space.latitude, "lng": space.longitude}.to_json %>" >
  <div>
    <% if space.photo.attached? %>
      <%= cl_image_tag space.photo.key %>
    <% else %>
      <img src="https://res.cloudinary.com/chrisrg/image/upload/c_scale,w_702/v1614695131/refective/repair-shop1.jpg" />
    <% end %>
  </div>
  <div class="card-product-infos">
    <div class="card-product-title">
      <h2 class="truncate"><%= space.name %></h2>
    </div>
    <div>
      <p class="truncate"><%= space.description %></p>
      <p>
        <% space.item_types.each do |item| %>
          <span class="badge badge-pill badge-success"> 
            <%= item.name %>
          </span>
        <% end %>
      </p>
    </div>
    <div>
      <p>
        <% unless space.reviews.count < 1 %>
          <% sum = 0 %>
          <% space.reviews.each do |review| %>
            <% sum += review.rating %>
          <% end %>
          <% sum = sum / space.reviews.count %>
          <% sum.times do %>
            <i class="fa fa-wrench"></i>
          <% end %>

          <% opaque = 5 - sum %>
          <% opaque.times do %>
            <i class="fa fa-wrench" aria-hidden="true" style="opacity: 0.2"></i>
          <% end %>
          (<%= space.reviews.length %> <%=  "review".pluralize(space.reviews.count) %>)
        <% else %>
            No reviews yet!
        <% end %>
      </p>
    </div>
  </div>
</div>
