<div class="card-product card-index space-partial" data-item-type-ids="<%= space.item_types.pluck(:id).to_json %>" data-coordinates="<%= {"lat": space.latitude, "lng": space.longitude}.to_json %>" >
  <div>
    <% if space.photo.attached? %>
      <%= cl_image_tag space.photo.key %>
    <% else %>
      <img src="https://res.cloudinary.com/chrisrg/image/upload/c_scale,w_702/v1614695131/refective/repair-shop1.jpg" />
    <% end %>
  </div>
  <div class="card-product-infos">
    <div class="card-product-title">
      <h2><%= space.name %></h2>
    </div>
    <div>
      <p class="truncate"><%= space.description %></p>
      <p><i class="fas fa-toolbox"></i>
        <% space_items = [] %>
        <% space.space_item_types.each do |item| %>
          <% space_items << item.item_type.name %>
        <% end %>
        <%= space_items.join(", ") %>
      </p>
    </div>
    <div>
      <p>
        <% rand_rating = rand(3..5).round %>
        <% rand_rating.times do %>
          <i class="fa fa-wrench"></i>
        <% end %>

        <% opaque = 5 - rand_rating %>
        <% opaque.times do %>
          <i class="fa fa-wrench" aria-hidden="true" style="opacity: 0.2"></i>
        <% end %>
      </p>
    </div>
  </div>
</div>


